.center-box {
    padding: 20px 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 1px var(--warning);
    width: 90%;
}

h1 {
    padding: 20px;
    padding-bottom: 10px;
    width: auto;
    margin: 10px;
}

.button-tab {
    width: auto;
}