<div class="bg-dark center-box">
    <p class="bg-dark text-warning">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus vel aperiam deleniti eligendi distinctio consequatur unde quaerat est recusandae. Earum amet dolorem ad iure quisquam non architecto ipsam eligendi ducimus?
    </p>
</div>


<h1 class="text-warning" >Project</h1>

<div class="bg-dark center-box">
    <button class="button-tab text-warning bg-dark">
        <h3 class="bg-dark">Personal Management System</h3>
    </button>
    <div id="description" class="bg-dark">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cumque quaerat, consequatur id dolores provident veniam sequi consequuntur doloremque fugiat eaque quia dolorum perspiciatis magnam necessitatibus. Libero similique nobis obcaecati.
    </div>
</div>