/* MARGIN */
.m5 {
    margin: 5rem;
}
.m4 {
    margin: 4rem;
}
.m3 {
    margin: 3rem;
}
.m2 {
    margin: 2rem;
}
.m1 {
    margin: 1rem;
}

/* MARGIN-TOP */
.mt5 {
    margin: 5rem;
}
.mt4 {
    margin: 4rem;
}
.mt3 {
    margin: 3rem;
}
.mt2 {
    margin: 2rem;
}
.mt1 {
    margin: 1rem;
}

/* MARGIN-BOTTOM */
.mb5 {
    margin: 5rem;
}
.mb4 {
    margin: 4rem;
}
.mb3 {
    margin: 3rem;
}
.mb2 {
    margin: 2rem;
}
.mb1 {
    margin: 1rem;
}

/* MARGIN-LEFT */
.ml5 {
    margin: 5rem;
}
.ml4 {
    margin: 4rem;
}
.ml3 {
    margin: 3rem;
}
.ml2 {
    margin: 2rem;
}
.ml1 {
    margin: 1rem;
}

/* MARGIN-RIGHT */
.mr5 {
    margin: 5rem;
}
.mr4 {
    margin: 4rem;
}
.mr3 {
    margin: 3rem;
}
.mr2 {
    margin: 2rem;
}
.mr1 {
    margin: 1rem;
}