<div class="ewl-left-panel">
    <div class="ewl-left-panel-left">
        <div class="ewl-profile-table">
            <a href="https://github.com/deaxparadox" class="ewl-profile-icon-container">
                <div class="ewl-profile-icon">
                    <img src="../../assets/github-original.svg" alt="Unable to find image">
                </div>
                <div class="ewl-profile-text">
                    <h6 class="text-secondary text-center">Github</h6>
                </div>
            </a>
            <a href="#" class="ewl-profile-icon-container">
                <div class="ewl-profile-icon">
                    <img src="../../assets/linkedin-original.svg" alt="Unable to find image">
                </div>
                <div class="ewl-profile-text">
                    <h6 class="text-secondary text-center">Linkedin</h6>
                </div>
            </a>
            <a href="#" class="ewl-profile-icon-container">
                <div class="ewl-profile-icon">
                    <img src="../../assets/leetcode.svg" alt="Unable to find image">
                </div>
                <div class="ewl-profile-text">
                    <h6 class="text-secondary text-center">Linkedin</h6>
                </div>
            </a>
        </div>
    </div>
    <div class="ewl-left-panel-right">
        <button class="ewl-left-panel-button">
            <span>Profiles</span>
        </button>
    </div>
</div>


<!-- <div class="ewl-profile-heading border-bottom border-secondary text-center">
    <h6 class="text-dark">Profiles</h6>
</div> -->