.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    .inner {    
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        border-radius: 12px;
        padding: 20px;
        margin: 6px;

        #element-box {
            background-color: rgb(255, 159, 159);
            padding: 12px;
            font-size: large;
            margin: 6px;
            border-radius: 12px;
        }

    }
    .inner-form {    
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        border-radius: 12px;
        padding: 20px;
        margin: 6px;

        .background-dark-red {
            background-color: rgb(255, 159, 159);
            padding: 12px;
            font-size: large;
            margin: 6px;
            border-radius: 12px;
        }

    }
}

.background-dark-red {
    background-color: rgb(255, 236, 129);
    background-color: greenyellow;
    
}