<!-- <div id="dash-nav">
    <h2 class="dash-nav-item">
        <a class="dash-nav-item-link dash-link" href="/">deaxparadox</a>
    </h2>
    <ul id="dash-nav-list" class="dash-nav-item">
        <li class="dash-nav-list-item">
            <a href="/" class="dash-nav-list-item-link dash-link">
                Contact
            </a>
        </li>
        <li class="dash-nav-list-item">
            <a href="/" class="dash-nav-list-item-link dash-link">
                About
            </a>
        </li>
    </ul>
</div>


<div id="quote">
    <span>---</span>Learn, Code, Repeat <span>---</span>
</div> -->
