
/* 
    EWL CONTENT CONTAINER
*/
.ewl-content-container {
    box-shadow: 0px 0px 5px 1px var(--gray-500);
    // background-color: var(--white); 
    background: linear-gradient(225deg, var(--yellow-200), var(--blue-100));
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px 40px;
}

.ewl-content-container > h1, h2, h3, h4, h5, h5 {
    padding: 10px 5px;
}

.ewl-content-container >  p {
    padding: 10px 5px;
    font-size: 18px;
    color: var(--gray-800);
    line-height: 1.6;
}


.ewl-content-code-container {
    margin-top: 30px;
    margin-bottom: 30px;
}


.ewl-content-skills-container {
    border: 1px solid var(--gray-400);
    margin-top: 20px;
    margin-bottom: 20px;
}
.ewl-content-skills-heading {
    text-align: end;
}

.ewl-content-skills-text {
    
}

.ewl-content-skills-text > span {
    display: inline-block;
    padding: 10px 20px;
    width: max-content;
    background-color: var(--gray-800);
    color: var(--yellow-400);
}

.ewl-content-skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ewl-content-skills-list-item {
    padding: 10px 20px;
    margin: 10px 20px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    // background-color: var(--yellow-100);
    // color: var(--white);
    // border: 2px solid var(--yellow-100);
    transition: all 200ms linear;
    border-radius: 15px;
    box-shadow: 3px -2px 3px 2px var(--yellow-200);
}
.ewl-content-skills-list-item:hover {
    // background-color: var(--gray-800);
    // color: var(--yellow-400);
    background: linear-gradient(225deg, var(--yellow-100), var(--yellow-500));
    box-shadow: 3px -2px 3px 2px var(--yellow-500);
}

.ewl-content-skills-image, 
.ewl-content-skills-text {
    display: block;
}
.ewl-content-skills-image {
    // width: 64px;
    // height: 64px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.ewl-content-skills-text {
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
}
// .profile-inner {
//     position: sticky;
//     top: 100px;
//     // background-color: aliceblue ;
// }

// .profile-container {
//     width: 120px;
//     // background-color: aliceblue ;
// }

// .profile-icon-container {
//     display: block;
//     text-decoration: none;
//     transform: background-color;
//     transition-duration: 400ms;
//     transition-timing-function: linear;
// }
// .profile-icon-container:hover {
//     background-color: rgb(255, 245, 190);
// }

// .profile-icon {
//     display: flex;
//     justify-content: center;
//     padding-top: 10px;
//     padding-bottom: 10px;
// }
// .profile-icon > img {
//     width: 70px;
//     height: 70px
// }
// .profile-text {
//     padding: 10px;
// }
// .profile-text > h6 {
//     color: gray;
//     text-decoration: none;
// }



/*
######################################################################################
######################################################################################

                                TABLE OF CONTENT

######################################################################################
######################################################################################
*/
// .toc-container

.toc {
    position: sticky;
    top: 80px;
}

.toc-heading {
    color: gray;
}

.toc-link {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.toc-link:hover {
    text-decoration: underline;
}