<div class="container container-border my-3 py-3">
    <div class="container-fluid d-flex">

        <!-- SMALL -->
        <div class="container-fluid small border-end">
            <div class="small-inner ">
                <div class="small-image-container">
                    <div id="image">
                        <img src="../../assets/python-original-wordmark.svg" alt="Unable to find image">
                    </div>
                    <div id="image-title">
                        <h6 class="text-secondary text-center">Python</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- LARGE -->
        <div class="container-fluid large">

            <div class="large-inner text-center">
                <div class="row">
                    <div class="col">
                        <div id="image">
                            <img src="../../assets/selenium-original.svg" alt="Unable to find image">
                        </div>
                        <div id="image-title">
                            <h6 class="text-secondary text-center">Selenium</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div id="image">
                            <img src="../../assets/django-plain-wordmark.svg" alt="Unable to find image">
                        </div>
                        <div id="image-title">
                            <h6 class="text-secondary text-center">Django</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div id="image">
                            <img src="../../assets/djangorest-original.svg" alt="Unable to find image">
                        </div>
                        <div id="image-title">
                            <h6 class="text-secondary text-center">Rest Framework</h6>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col">
                        <div id="image">
                            <img src="../../assets/fastapi-original.svg" alt="Unable to find image">
                        </div>
                        <div id="image-title">
                            <h6 class="text-secondary text-center">FastAPI</h6>
                        </div>
                    </div>

                    <div class="col">
                        <div id="image">
                            <img src="../../assets/numpy-original.svg" alt="Unable to find image">
                        </div>
                        <div id="image-title">
                            <h6 class="text-secondary text-center">Numpy</h6>
                        </div>
                    </div>

                    <div class="col">
                        <div id="image">
                            <img src="../../assets/pandas-original.svg" alt="Unable to find image">
                        </div>
                        <div id="image-title">
                            <h6 class="text-secondary text-center">Pandas</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container container-border my-3 py-3">
    <div class="container-fluid container-heading border-bottom mb-4">
        <h3 class="heading-1">Algorithm Visualizer</h3>
        <p class="heading-1-explain"><em>Viualiser for serach algorithm</em></p>
    </div>
    <div class="container-fluid">
        <!-- 
            BINARY SEARCH CARD
        -->
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card text-bg-warning mb-3">
                    <div class="card-header"><em>Search Algorithm</em></div>
                    <div class="card-body">
                        <h4 class="card-title mb-3">Binary Search</h4>
                        <p class="card-text">Binary Search Algorithm is a searching algorithm used in a sorted array by
                            repeatedly dividing the search interval in half.</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a routerLink="/algo/binary-search" routerLinkActive="active" ariaCurrentWhenActive="page"
                            class="btn btn-sm btn-dark m-3">Visualise >>></a>
                    </div>
                </div>
            </div>



            <!-- 
                LINEAR SEARCH CARD
            -->
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card text-bg-success mb-3">
                    <div class="card-header"><em>Search Algorithm</em></div>
                    <div class="card-body">
                        <h4 class="card-title mb-3">Linear Search</h4>
                        <p class="card-text">Linear Search Algorithm is defined as a sequential search algorithm that
                            starts at one end and goes through each element of a list until the desired element is
                            found.</p>
                    </div>

                    <div class="d-flex justify-content-end">
                        <a disabled class="btn btn-sm btn-dark m-3">Comming soon...</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>