<div class="container-fluid">
    <div class="row row-cols-sm-1">
        <!-- ROW COL 1 -->
        <div class="col col-md-2">
            <!-- <div class="container-fluid profile m-0 p-0 d-flex justify-content-end">
                <div class="profile-inner mx-0 px-0">
                    <div class="profile-container m-0 p-0">
                        
                    </div>
                </div>
            </div> -->
        </div>

        <!-- ROW COL 2 -->
        <div class="col col-md-8">
            <!--  PROFILES -->
            <!-- <div class="container container-border  my-3 py-3">
            </div> -->

            <div class="container-fluid ewl-content-container">
                <h1>Hello</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit modi, accusamus, eligendi
                    dolore quam odit aspernatur maxime repellendus praesentium accusantium vel autem laboriosam
                    necessitatibus voluptates, numquam atque consectetur! Error, rerum!
                </p>
            </div>

            <div class="container-fluid ewl-content-container">
                <h1>Hello</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit modi, accusamus, eligendi
                    dolore quam odit aspernatur maxime repellendus praesentium accusantium vel autem laboriosam
                    necessitatibus voluptates, numquam atque consectetur! Error, rerum!
                </p>
            </div>

            <div class="container-fluid ewl-content-container">
                <h1>Hello</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit modi, accusamus, eligendi
                    dolore quam odit aspernatur maxime repellendus praesentium accusantium vel autem laboriosam
                    necessitatibus voluptates, numquam atque consectetur! Error, rerum!
                </p>
            </div>
            <!--  PYTHON AND TOOLS -->
            <div class="container-fluid ewl-content-container" id="skills">
                <h1 class="">Skills</h1>
                <div class="ewl-content-skills-container">
                    <div class="ewl-content-skills-heading">
                        <h6 class="ewl-content-skills-text">
                            <span>Languages</span>
                        </h6>
                    </div>
                    <ul class="ewl-content-skills-list">
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/python-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Python</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/javascript-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">JavaScript</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/typescript-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">TypeScript</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/c-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">C</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/html5-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">HTMl</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/css3-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">CSS</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/rust-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Rust</span>    
                        </li>
                    </ul>
                </div>
                
                <div class="ewl-content-skills-container">
                    <div class="ewl-content-skills-heading">
                        <h6 class="ewl-content-skills-text">
                            <span>Web Development</span>
                        </h6>
                    </div>
                    <ul class="ewl-content-skills-list">
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/angular-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Angular</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/nodejs-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">NodeJS</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/denojs-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Deno</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/django-plain-wordmark.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Django</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/fastapi-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">FastAPI</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/selenium-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Selenium</span>    
                        </li>
                    </ul>
                </div>
                
                <div class="ewl-content-skills-container">
                    <div class="ewl-content-skills-heading">
                        <h6 class="ewl-content-skills-text">
                            <span>Machine Learning</span>
                        </h6>
                    </div>
                    <ul class="ewl-content-skills-list">
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/numpy-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">NumPy</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/pandas-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Pandas</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/matplotlib-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Matplotlib</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/not-found.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Seaborn</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/scikitlearn-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Scikit learn</span>    
                        </li>
                        <li class="ewl-content-skills-list-item">
                            <img src="../../assets/tensorflow-original.svg" alt="" srcset=""  class="ewl-content-skills-image">
                            <span class="ewl-content-skills-text">Tensorflow</span>    
                        </li>
                    </ul>
                </div>
            </div>



            <!-- SEARCHING ALGORITHM -->
            <div class="container-fluid ewl-content-container">
                <div class="container-fluid container-heading border-bottom mb-4">
                    <h3 class="heading-1">Algorithm Visualizer</h3>
                    <p class="heading-1-explain"><em>Viualiser for serach algorithm</em></p>
                </div>
                <div class="container-fluid">
                    <!-- BINARY SEARCH CARD -->
                    <div class="row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <div class="card text-bg-warning mb-3">
                                <div class="card-header"><em>Search Algorithm</em></div>
                                <div class="card-body">
                                    <h4 class="card-title mb-3">Binary Search</h4>
                                    <p class="card-text">Binary Search Algorithm is a searching algorithm used in a
                                        sorted
                                        array by
                                        repeatedly dividing the search interval in half.</p>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <a routerLink="/algo/binary-search" routerLinkActive="active"
                                        ariaCurrentWhenActive="page" class="btn btn-sm btn-dark m-3">Visualise >>></a>
                                </div>
                            </div>
                        </div>



                        <!-- LINEAR SEARCH CARD -->
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <div class="card text-bg-success mb-3">
                                <div class="card-header"><em>Search Algorithm</em></div>
                                <div class="card-body">
                                    <h4 class="card-title mb-3">Linear Search</h4>
                                    <p class="card-text">Linear Search Algorithm is defined as a sequential search
                                        algorithm
                                        that
                                        starts at one end and goes through each element of a list until the desired
                                        element
                                        is
                                        found.</p>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <a disabled class="btn btn-sm btn-dark m-3">Comming soon...</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- ROW COL 3: Table of content -->
        <div class="col  col-md-2">
            <div class="container-fluid toc">
                <div class="container-fluid toc-container">
                    <div class="toc-heading border-bottom border-1 border-color-secondary text-center mb-3">
                        <h6>Table of content</h6>
                    </div>
                    <div class="toc-content">
                        <ul class="px-3 list-unstyled toc-list">
                            <li class="text-secondary toc-list-item">
                                <a href="#" class="toc-link">Introduction</a>
                            </li>
                            <li class="text-secondary toc-list-item">
                                <a href="#" class="toc-link">Projects</a>
                            </li>
                            <li class="text-secondary toc-list-item">
                                <a (click)="goSkills()" #skills class="toc-link">Skills</a>
                            </li>
                            <li class="text-secondary toc-list-item">
                                <a href="#" class="toc-link">Achivements</a>
                            </li>
                            <li class="text-secondary toc-list-item">
                                <a href="#" class="toc-link">Algorithm visualizer</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>